.alertjk-blue{
    background: var(--alert-blue);
    color: var(--alert-blue-font);
    border: 1px solid rgb(92, 92, 253);
}
.alertjk-grey{
    background: var(--alert-gray);
    color: var(--alert-gray-font);
    border: 1px solid rgb(155, 155, 155);
}