.alertjk-blue{
    background: var(--alert-blue);
    color: var(--alert-blue-font);
    border: 1px solid rgb(92, 92, 253);
}
.alertjk-gray{
    background: var(--alert-gray);
    color: var(--alert-gray-font);
    border: 1px solid rgb(155, 155, 155);
}
.alertjk-green{
    background: var(--alert-green);
    color: var(--alert-green-green);
    border: 1px solid #1b8b57;
}

.alertjk-red{
    background: var(--alert-red);
    color: var(--alert-red-font);
    border: 1px solid #ca2d3dee;
}