@import "root";
@import "buttons/button.scss";
@import "texts/text.scss";
@import "layout/columns/columns.scss";

.site-container{
    padding: 0 150px;
}

@media (min-width: 100px) and (max-width: 599px) {
    .site-container{
        max-width: 540px;
        width: auto;        
    }
}

@media (max-width: 600px) and (max-width: 767px) {
    .site-container{
        padding: 0 1%;
        width: auto;        
    }
}

@media (min-width: 992px) {
    .site-container{
        padding: 0 20%;
        width: auto;        
    }
}

@media (min-width: 1200px) {
    .site-container{
        padding: 0 20%;
        width: auto;        
    }
}
