@import "https://github.com/JKCSS-CSS-Framework/JKCSS-Framework/blob/master/jkcss/dosc/buttons/button.min.css";
:root {
  --jk-blue: blue;
}

.jk-btn {
  width: 250px;
  padding: 15px 0;
}

.main-content {
  margin: 0 250px;
  color: red;
}