@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --jk-blue: #1672fd;
  --jk-blue-hover: #025ce4;
  --text-color: white;
  --jk-gray: grey;
  --jk-gray-hover: rgb(114, 114, 114);
  --jk-green: #1b8b57;
  --jk-green-hover: #147045;
  --jk-red: #ca2d3dee;
  --jk-red-hover: #b32432ee;
  --jk-yellow: #ff9900;
  --jk-yellow-hover: #ff9900e3;
  --jk-lightblue: #54b4d3;
  --jk-lightblue-hover: #54b3d3ea;
  --jk-purple: #A020F0;
  --title-font-family: "Poppins", sans-serif;
  --jk-site-font: "Poppins", sans-serif;
  --jk-heading: rgb(36, 36, 36);
  --jk-display-1: 5rem;
  --jk-display-2: 4.5rem;
  --jk-display-3: 4rem;
  --jk-display-4: 3.5rem;
  --jk-display-5: 3rem;
  --jk-display-6: 2.5rem;
  --alert-blue: #9bbef3;
  --alert-blue-font: rgb(35, 35, 252);
  --alert-gray: rgb(185, 185, 185);
  --alert-gray-font: rgb(255, 255, 255);
  --alert-green: #aae7cb;
  --alert-green-font: #2e805a;
  --alert-red: #fabfc5ee;
  --alert-red-font: #7a2a32ee;
  --alert-yellow: #f1d6ac;
  --alert-yellow-font: #856535;
  --alert-info: #b0e1f1;
  --alert-info-font: #346677;
}

.jkbtn {
  padding: 15px 25px;
  transition: 0.4s;
  border-radius: 5px;
}

.jkbtn:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jkbtn-sm {
  padding: 8px 20px;
  transition: 0.4s;
  border-radius: 5px;
}

.jkbtn-sm:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jkbtn-lg {
  padding: 20px 30px;
  transition: 0.4s;
  border-radius: 5px;
}

.jkbtn-lg:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.alertjk {
  padding: 20px 40px;
  margin: 0 20px;
  border-radius: 2px;
  font-size: 20px;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.justify-even {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

.justify-right {
  justify-content: right;
}

.justify-left {
  justify-content: left;
}

.justify-center {
  justify-content: center;
}

.mx-2 {
  margin: 0 2rem;
}

.mx-4 {
  margin: 0 4rem;
}

.mx-6 {
  margin: 0 6rem;
}

.mx-8 {
  margin: 0 8rem;
}

.mx-12 {
  margin: 0 12rem;
}

.mx-16 {
  margin: 0 16rem;
}

.mx-20 {
  margin: 0 20rem;
}

.mx-24 {
  margin: 0 24rem;
}

.mx-30 {
  margin: 0 30rem;
}

.mx-36 {
  margin: 0 36rem;
}

.mx-40 {
  margin: 0 40rem;
}

.px-2 {
  padding: 0 2rem;
}

.px-4 {
  padding: 0 4rem;
}

.px-6 {
  padding: 0 6rem;
}

.px-8 {
  padding: 0 8rem;
}

.px-12 {
  padding: 0 12rem;
}

.px-16 {
  padding: 0 16rem;
}

.px-20 {
  padding: 0 20rem;
}

.px-24 {
  padding: 0 24rem;
}

.px-30 {
  padding: 0 30rem;
}

.px-36 {
  padding: 0 36rem;
}

.px-40 {
  padding: 0 40rem;
}

.no-border, .jkbtn-info:hover, .jkbtn-info, .jkbtn-yellow:hover, .jkbtn-yellow, .jkbtn-red:hover, .jkbtn-red, .jkbtn-green:hover, .jkbtn-green, .jkbtn-gray:hover, .jkbtn-gray, .jkbtn-blue:hover, .jkbtn-blue {
  border: none;
  color: var(--text-color);
}

.jkbtn-blue {
  background-color: var(--jk-blue);
}

.jkbtn-blue:hover {
  background-color: var(--jk-blue-hover);
}

.jkbtn-gray {
  background-color: var(--jk-gray);
}

.jkbtn-gray:hover {
  background-color: var(--jk-gray-hover);
}

.jkbtn-green {
  background-color: var(--jk-green);
}

.jkbtn-green:hover {
  background-color: var(--jk-green-hover);
}

.jkbtn-red {
  background-color: var(--jk-red);
}

.jkbtn-red:hover {
  background-color: var(--jk-red-hover);
}

.jkbtn-yellow {
  background-color: var(--jk-yellow);
}

.jkbtn-yellow:hover {
  background-color: var(--jk-yellow-hover);
}

.jkbtn-info {
  background-color: var(--jk-lightblue);
}

.jkbtn-info:hover {
  background-color: var(--jk-lightblue-hover);
}

.jkbtn-blue-outline {
  background: none;
  border: 1px solid var(--jk-blue);
  color: var(--jk-blue);
}

.jkbtn-blue-outline:hover {
  background: var(--jk-blue);
  color: var(--text-color);
}

.jkbtn-gray-outline {
  background: none;
  border: 1px solid var(--jk-gray);
  color: var(--jk-gray);
}

.jkbtn-gray-outline:hover {
  background: var(--jk-gray);
  color: var(--text-color);
}

.jkbtn-green-outline {
  background: none;
  border: 1px solid var(--jk-green);
  color: var(--jk-green);
}

.jkbtn-green-outline:hover {
  background: var(--jk-green);
  color: var(--text-color);
}

.jkbtn-red-outline {
  background: none;
  border: 1px solid var(--jk-red);
  color: var(--jk-red);
}

.jkbtn-red-outline:hover {
  background: var(--jk-red);
  color: var(--text-color);
}

.jkbtn-yellow-outline {
  background: none;
  border: 1px solid var(--jk-yellow);
  color: var(--jk-yellow);
}

.jkbtn-yellow-outline:hover {
  background: var(--jk-yellow);
  color: var(--text-color);
}

.jkbtn-info-outline {
  background: none;
  border: 1px solid var(--jk-lightblue);
  color: var(--jk-lightblue);
}

.jkbtn-info-outline:hover {
  background: var(--jk-lightblue);
  color: var(--text-color);
}

.jkbtn:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.btn-group {
  width: fit-content;
  height: 10;
  border-radius: 5px;
}

.btn-group button {
  border-radius: 0;
  margin: -3px;
}

.btn-group button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn-group button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.jk-h1, .jk-h6, .jk-h5, .jk-h4, .jk-h3, .jk-h2 {
  color: var(--jk-heading);
}

.jk-display-1 {
  font-size: var(--jk-display-1);
  font-weight: 300;
}

.jk-display-2 {
  font-size: var(--jk-display-2);
  font-weight: 300;
}

.jk-display-3 {
  font-size: var(--jk-display-3);
  font-weight: 300;
}

.jk-display-4 {
  font-size: var(--jk-display-4);
  font-weight: 300;
}

.jk-display-5 {
  font-size: var(--jk-display-5);
  font-weight: 300;
}

.jk-display-6 {
  font-size: var(--jk-display-6);
  font-weight: 300;
}

mark {
  color: red;
  background-color: yellow;
  padding: 5px;
  border-radius: 2px;
}

.line {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  flex: 1;
}

.rec-auto {
  flex: 0 0 auto;
  width: auto;
}

.rec-1 {
  flex: 0 0 auto;
  width: 8.3%;
}

.rec-2 {
  flex: 0 0 auto;
  width: 16.6%;
}

.rec-3 {
  flex: 0 0 auto;
  width: 25%;
}

.rec-4 {
  flex: 0 0 auto;
  width: 33.3%;
}

.rec-5 {
  flex: 0 0 auto;
  width: 41.6%;
}

.rec-6 {
  flex: 0 0 auto;
  width: 50%;
}

.rec-7 {
  flex: 0 0 auto;
  width: 58.3%;
}

.rec-8 {
  flex: 0 0 auto;
  width: 66.6%;
}

.rec-9 {
  flex: 0 0 auto;
  width: 75%;
}

.rec-10 {
  flex: 0 0 auto;
  width: 83.3%;
}

.rec-11 {
  flex: 0 0 auto;
  width: 91.6%;
}

.rec-12 {
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width: 100px) and (max-width: 991px) {
  .site-container {
    padding: 0 5%;
    width: auto;
  }
  .line {
    flex-direction: column;
  }
  .rec-1 {
    width: 100%;
  }
  .rec-2 {
    width: 100%;
  }
  .rec-3 {
    width: 100%;
  }
  .rec-4 {
    width: 100%;
  }
  .rec-5 {
    width: 100%;
  }
  .rec-6 {
    width: 100%;
  }
  .rec-7 {
    width: 100%;
  }
  .rec-8 {
    width: 100%;
  }
  .rec-9 {
    width: 100%;
  }
  .rec-10 {
    width: 100%;
  }
  .rec-11 {
    width: 100%;
  }
  .rec-12 {
    width: 100%;
  }
}
.JKmodal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.jkm-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 5px;
}

.close {
  color: #ffffff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
}

.modal-content {
  background: #fff;
  margin-top: 100px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.modal-header {
  padding: 20px 20px;
  background: #e7e7e7;
  border-bottom: 1px solid rgb(223, 223, 223);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 20px;
}

.close-btn {
  float: right;
  font-size: 25px;
  border: none;
  background: #e7e7e7;
  padding-top: -10px;
}

.modal-body {
  margin: 30px 20px;
}

.modal-footer {
  padding: 10px 20px;
  background: #e7e7e7;
  border-top: 1px solid rgb(223, 223, 223);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.control-jkforms, input[type=password] {
  width: 100%;
  border: 1px solid rgb(187, 187, 187);
  height: 35px;
  border-radius: 3px;
  padding: 0 10px;
  color: rgb(31, 31, 31);
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  outline: none;
  transition: 0.2s;
  margin: 10px 0;
}

.control-jkforms:focus, input[type=password]:focus {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(184, 183, 183);
}

.jk-card {
  width: 100%;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
}

.jk-card .header-card {
  background: rgb(243, 243, 243);
  padding: 20px 15px;
  border-bottom: 1px solid rgb(204, 204, 204);
}

.jk-card .content-card {
  color: black;
  padding: 20px 15px;
}

.jk-card .footer-card {
  border-top: 1px solid rgb(204, 204, 204);
  padding: 10px 15px;
  background-color: rgb(241, 241, 241);
}

.jk-table {
  width: 100%;
  border-radius: 10px;
}

.jk-table thead th {
  height: 40px;
  border-bottom: 1px solid rgb(185, 185, 185);
}

.jk-table tbody td {
  padding: 10px;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.jk-table thead th:first-child {
  border-radius: 8px 0 0 0;
}

.jk-table thead th:last-child {
  border-radius: 0 8px 0 0;
}

.hover-table tbody tr {
  transition: 0.3s;
}

.hover-table tbody tr:hover {
  background-color: rgba(233, 233, 233, 0.911);
}

.alertjk-blue {
  background: var(--alert-blue);
  color: var(--alert-blue-font);
  border: 1px solid rgb(92, 92, 253);
}

.alertjk-gray {
  background: var(--alert-gray);
  color: var(--alert-gray-font);
  border: 1px solid rgb(155, 155, 155);
}

.alertjk-green {
  background: var(--alert-green);
  color: var(--alert-green-green);
  border: 1px solid #1b8b57;
}

.alertjk-red {
  background: var(--alert-red);
  color: var(--alert-red-font);
  border: 1px solid rgba(202, 45, 61, 0.9333333333);
}

.alertjk-yellow {
  background: var(--alert-yellow);
  color: var(--alert-yellow-font);
  border: 1px solid #ff9900;
}

.alertjk-info {
  background: var(--alert-info);
  color: var(--alert-info-font);
  border: 1px solid #54b4d3;
}

.jk-img {
  width: auto;
  height: auto;
}

.sm {
  height: 10%;
  width: 10%;
}

.md {
  height: 20%;
  width: 20%;
}

.lg {
  height: 30%;
  width: 30%;
}

.rounded-2 {
  border-radius: 2px;
}

.rounded-4 {
  border-radius: 4px;
}

.rounded-8 {
  border-radius: 8px;
}

.rounded-12 {
  border-radius: 12px;
}

.rounded-16 {
  border-radius: 16px;
}

.rounded-20 {
  border-radius: 20px;
}

.rounded-30 {
  border-radius: 30px;
}

.rounded-40 {
  border-radius: 40px;
}

.rounded-50 {
  border-radius: 50px;
}

.rounded-100 {
  border-radius: 100px;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-bolder {
  font-weight: 800;
}

.text-blue {
  color: blue;
}

.bg-blue {
  background-color: blue;
}

.text-blue-light-1 {
  color: #1a1aff;
}

.bg-blue-light-1 {
  background-color: #1a1aff;
}

.text-blue-light-2 {
  color: #3333ff;
}

.bg-blue-light-2 {
  background-color: #3333ff;
}

.text-blue-light-3 {
  color: #4d4dff;
}

.bg-blue-light-3 {
  background-color: #4d4dff;
}

.text-blue-light-4 {
  color: #6666ff;
}

.bg-blue-light-4 {
  background-color: #6666ff;
}

.text-blue-light-5 {
  color: #8080ff;
}

.bg-blue-light-5 {
  background-color: #8080ff;
}

.text-blue-light-6 {
  color: #9999ff;
}

.bg-blue-light-6 {
  background-color: #9999ff;
}

.text-blue-light-7 {
  color: #b3b3ff;
}

.bg-blue-light-7 {
  background-color: #b3b3ff;
}

.text-blue-light-8 {
  color: #ccccff;
}

.bg-blue-light-8 {
  background-color: #ccccff;
}

.text-blue-light-9 {
  color: #e6e6ff;
}

.bg-blue-light-9 {
  background-color: #e6e6ff;
}

.text-blue-dark-1 {
  color: #0000e6;
}

.bg-blue-dark-1 {
  background-color: #0000e6;
}

.text-blue-dark-2 {
  color: #0000cc;
}

.bg-blue-dark-2 {
  background-color: #0000cc;
}

.text-blue-dark-3 {
  color: #0000b3;
}

.bg-blue-dark-3 {
  background-color: #0000b3;
}

.text-blue-dark-4 {
  color: #000099;
}

.bg-blue-dark-4 {
  background-color: #000099;
}

.text-blue-dark-5 {
  color: navy;
}

.bg-blue-dark-5 {
  background-color: navy;
}

.text-blue-dark-6 {
  color: #000066;
}

.bg-blue-dark-6 {
  background-color: #000066;
}

.text-blue-dark-7 {
  color: #00004d;
}

.bg-blue-dark-7 {
  background-color: #00004d;
}

.text-blue-dark-8 {
  color: #000033;
}

.bg-blue-dark-8 {
  background-color: #000033;
}

.text-blue-dark-9 {
  color: #00001a;
}

.bg-blue-dark-9 {
  background-color: #00001a;
}

.text-red {
  color: red;
}

.bg-red {
  background-color: red;
}

.text-red-light-1 {
  color: #ff1a1a;
}

.bg-red-light-1 {
  background-color: #ff1a1a;
}

.text-red-light-2 {
  color: #ff3333;
}

.bg-red-light-2 {
  background-color: #ff3333;
}

.text-red-light-3 {
  color: #ff4d4d;
}

.bg-red-light-3 {
  background-color: #ff4d4d;
}

.text-red-light-4 {
  color: #ff6666;
}

.bg-red-light-4 {
  background-color: #ff6666;
}

.text-red-light-5 {
  color: #ff8080;
}

.bg-red-light-5 {
  background-color: #ff8080;
}

.text-red-light-6 {
  color: #ff9999;
}

.bg-red-light-6 {
  background-color: #ff9999;
}

.text-red-light-7 {
  color: #ffb3b3;
}

.bg-red-light-7 {
  background-color: #ffb3b3;
}

.text-red-light-8 {
  color: #ffcccc;
}

.bg-red-light-8 {
  background-color: #ffcccc;
}

.text-red-light-9 {
  color: #ffe6e6;
}

.bg-red-light-9 {
  background-color: #ffe6e6;
}

.text-red-dark-1 {
  color: #e60000;
}

.bg-red-dark-1 {
  background-color: #e60000;
}

.text-red-dark-2 {
  color: #cc0000;
}

.bg-red-dark-2 {
  background-color: #cc0000;
}

.text-red-dark-3 {
  color: #b30000;
}

.bg-red-dark-3 {
  background-color: #b30000;
}

.text-red-dark-4 {
  color: #990000;
}

.bg-red-dark-4 {
  background-color: #990000;
}

.text-red-dark-5 {
  color: maroon;
}

.bg-red-dark-5 {
  background-color: maroon;
}

.text-red-dark-6 {
  color: #660000;
}

.bg-red-dark-6 {
  background-color: #660000;
}

.text-red-dark-7 {
  color: #4d0000;
}

.bg-red-dark-7 {
  background-color: #4d0000;
}

.text-red-dark-8 {
  color: #330000;
}

.bg-red-dark-8 {
  background-color: #330000;
}

.text-red-dark-9 {
  color: #1a0000;
}

.bg-red-dark-9 {
  background-color: #1a0000;
}

.text-pink {
  color: pink;
}

.bg-pink {
  background-color: pink;
}

.text-pink-light-1 {
  color: #ffc6d0;
}

.bg-pink-light-1 {
  background-color: #ffc6d0;
}

.text-pink-light-2 {
  color: #ffcdd5;
}

.bg-pink-light-2 {
  background-color: #ffcdd5;
}

.text-pink-light-3 {
  color: #ffd3db;
}

.bg-pink-light-3 {
  background-color: #ffd3db;
}

.text-pink-light-4 {
  color: #ffd9e0;
}

.bg-pink-light-4 {
  background-color: #ffd9e0;
}

.text-pink-light-5 {
  color: #ffe0e5;
}

.bg-pink-light-5 {
  background-color: #ffe0e5;
}

.text-pink-light-6 {
  color: #ffe6ea;
}

.bg-pink-light-6 {
  background-color: #ffe6ea;
}

.text-pink-light-7 {
  color: #ffecef;
}

.bg-pink-light-7 {
  background-color: #ffecef;
}

.text-pink-light-8 {
  color: #fff2f5;
}

.bg-pink-light-8 {
  background-color: #fff2f5;
}

.text-pink-light-9 {
  color: #fff9fa;
}

.bg-pink-light-9 {
  background-color: #fff9fa;
}

.text-pink-dark-1 {
  color: #e6adb7;
}

.bg-pink-dark-1 {
  background-color: #e6adb7;
}

.text-pink-dark-2 {
  color: #cc9aa2;
}

.bg-pink-dark-2 {
  background-color: #cc9aa2;
}

.text-pink-dark-3 {
  color: #b3868e;
}

.bg-pink-dark-3 {
  background-color: #b3868e;
}

.text-pink-dark-4 {
  color: #99737a;
}

.bg-pink-dark-4 {
  background-color: #99737a;
}

.text-pink-dark-5 {
  color: #806066;
}

.bg-pink-dark-5 {
  background-color: #806066;
}

.text-pink-dark-6 {
  color: #664d51;
}

.bg-pink-dark-6 {
  background-color: #664d51;
}

.text-pink-dark-7 {
  color: #4d3a3d;
}

.bg-pink-dark-7 {
  background-color: #4d3a3d;
}

.text-pink-dark-8 {
  color: #332629;
}

.bg-pink-dark-8 {
  background-color: #332629;
}

.text-pink-dark-9 {
  color: #1a1314;
}

.bg-pink-dark-9 {
  background-color: #1a1314;
}

.text-yellow {
  color: yellow;
}

.bg-yellow {
  background-color: yellow;
}

.text-yellow-light-1 {
  color: #ffff1a;
}

.bg-yellow-light-1 {
  background-color: #ffff1a;
}

.text-yellow-light-2 {
  color: #ffff33;
}

.bg-yellow-light-2 {
  background-color: #ffff33;
}

.text-yellow-light-3 {
  color: #ffff4d;
}

.bg-yellow-light-3 {
  background-color: #ffff4d;
}

.text-yellow-light-4 {
  color: #ffff66;
}

.bg-yellow-light-4 {
  background-color: #ffff66;
}

.text-yellow-light-5 {
  color: #ffff80;
}

.bg-yellow-light-5 {
  background-color: #ffff80;
}

.text-yellow-light-6 {
  color: #ffff99;
}

.bg-yellow-light-6 {
  background-color: #ffff99;
}

.text-yellow-light-7 {
  color: #ffffb3;
}

.bg-yellow-light-7 {
  background-color: #ffffb3;
}

.text-yellow-light-8 {
  color: #ffffcc;
}

.bg-yellow-light-8 {
  background-color: #ffffcc;
}

.text-yellow-light-9 {
  color: #ffffe6;
}

.bg-yellow-light-9 {
  background-color: #ffffe6;
}

.text-yellow-dark-1 {
  color: #e6e600;
}

.bg-yellow-dark-1 {
  background-color: #e6e600;
}

.text-yellow-dark-2 {
  color: #cccc00;
}

.bg-yellow-dark-2 {
  background-color: #cccc00;
}

.text-yellow-dark-3 {
  color: #b3b300;
}

.bg-yellow-dark-3 {
  background-color: #b3b300;
}

.text-yellow-dark-4 {
  color: #999900;
}

.bg-yellow-dark-4 {
  background-color: #999900;
}

.text-yellow-dark-5 {
  color: olive;
}

.bg-yellow-dark-5 {
  background-color: olive;
}

.text-yellow-dark-6 {
  color: #666600;
}

.bg-yellow-dark-6 {
  background-color: #666600;
}

.text-yellow-dark-7 {
  color: #4d4d00;
}

.bg-yellow-dark-7 {
  background-color: #4d4d00;
}

.text-yellow-dark-8 {
  color: #333300;
}

.bg-yellow-dark-8 {
  background-color: #333300;
}

.text-yellow-dark-9 {
  color: #1a1a00;
}

.bg-yellow-dark-9 {
  background-color: #1a1a00;
}

.text-orange {
  color: orange;
}

.bg-orange {
  background-color: orange;
}

.text-orange-light-1 {
  color: #ffae1a;
}

.bg-orange-light-1 {
  background-color: #ffae1a;
}

.text-orange-light-2 {
  color: #ffb733;
}

.bg-orange-light-2 {
  background-color: #ffb733;
}

.text-orange-light-3 {
  color: #ffc04d;
}

.bg-orange-light-3 {
  background-color: #ffc04d;
}

.text-orange-light-4 {
  color: #ffc966;
}

.bg-orange-light-4 {
  background-color: #ffc966;
}

.text-orange-light-5 {
  color: #ffd280;
}

.bg-orange-light-5 {
  background-color: #ffd280;
}

.text-orange-light-6 {
  color: #ffdb99;
}

.bg-orange-light-6 {
  background-color: #ffdb99;
}

.text-orange-light-7 {
  color: #ffe4b3;
}

.bg-orange-light-7 {
  background-color: #ffe4b3;
}

.text-orange-light-8 {
  color: #ffedcc;
}

.bg-orange-light-8 {
  background-color: #ffedcc;
}

.text-orange-light-9 {
  color: #fff6e6;
}

.bg-orange-light-9 {
  background-color: #fff6e6;
}

.text-orange-dark-1 {
  color: #e69500;
}

.bg-orange-dark-1 {
  background-color: #e69500;
}

.text-orange-dark-2 {
  color: #cc8400;
}

.bg-orange-dark-2 {
  background-color: #cc8400;
}

.text-orange-dark-3 {
  color: #b37400;
}

.bg-orange-dark-3 {
  background-color: #b37400;
}

.text-orange-dark-4 {
  color: #996300;
}

.bg-orange-dark-4 {
  background-color: #996300;
}

.text-orange-dark-5 {
  color: #805300;
}

.bg-orange-dark-5 {
  background-color: #805300;
}

.text-orange-dark-6 {
  color: #664200;
}

.bg-orange-dark-6 {
  background-color: #664200;
}

.text-orange-dark-7 {
  color: #4d3200;
}

.bg-orange-dark-7 {
  background-color: #4d3200;
}

.text-orange-dark-8 {
  color: #332100;
}

.bg-orange-dark-8 {
  background-color: #332100;
}

.text-orange-dark-9 {
  color: #1a1100;
}

.bg-orange-dark-9 {
  background-color: #1a1100;
}

.text-green {
  color: green;
}

.bg-green {
  background-color: green;
}

.text-green-light-1 {
  color: #1a8d1a;
}

.bg-green-light-1 {
  background-color: #1a8d1a;
}

.text-green-light-2 {
  color: #339933;
}

.bg-green-light-2 {
  background-color: #339933;
}

.text-green-light-3 {
  color: #4da64d;
}

.bg-green-light-3 {
  background-color: #4da64d;
}

.text-green-light-4 {
  color: #66b366;
}

.bg-green-light-4 {
  background-color: #66b366;
}

.text-green-light-5 {
  color: #80c080;
}

.bg-green-light-5 {
  background-color: #80c080;
}

.text-green-light-6 {
  color: #99cc99;
}

.bg-green-light-6 {
  background-color: #99cc99;
}

.text-green-light-7 {
  color: #b3d9b3;
}

.bg-green-light-7 {
  background-color: #b3d9b3;
}

.text-green-light-8 {
  color: #cce6cc;
}

.bg-green-light-8 {
  background-color: #cce6cc;
}

.text-green-light-9 {
  color: #e6f2e6;
}

.bg-green-light-9 {
  background-color: #e6f2e6;
}

.text-green-dark-1 {
  color: #007300;
}

.bg-green-dark-1 {
  background-color: #007300;
}

.text-green-dark-2 {
  color: #006600;
}

.bg-green-dark-2 {
  background-color: #006600;
}

.text-green-dark-3 {
  color: #005a00;
}

.bg-green-dark-3 {
  background-color: #005a00;
}

.text-green-dark-4 {
  color: #004d00;
}

.bg-green-dark-4 {
  background-color: #004d00;
}

.text-green-dark-5 {
  color: #004000;
}

.bg-green-dark-5 {
  background-color: #004000;
}

.text-green-dark-6 {
  color: #003300;
}

.bg-green-dark-6 {
  background-color: #003300;
}

.text-green-dark-7 {
  color: #002600;
}

.bg-green-dark-7 {
  background-color: #002600;
}

.text-green-dark-8 {
  color: #001a00;
}

.bg-green-dark-8 {
  background-color: #001a00;
}

.text-green-dark-9 {
  color: #000d00;
}

.bg-green-dark-9 {
  background-color: #000d00;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.text-white-light-1 {
  color: white;
}

.bg-white-light-1 {
  background-color: white;
}

.text-white-light-2 {
  color: white;
}

.bg-white-light-2 {
  background-color: white;
}

.text-white-light-3 {
  color: white;
}

.bg-white-light-3 {
  background-color: white;
}

.text-white-light-4 {
  color: white;
}

.bg-white-light-4 {
  background-color: white;
}

.text-white-light-5 {
  color: white;
}

.bg-white-light-5 {
  background-color: white;
}

.text-white-light-6 {
  color: white;
}

.bg-white-light-6 {
  background-color: white;
}

.text-white-light-7 {
  color: white;
}

.bg-white-light-7 {
  background-color: white;
}

.text-white-light-8 {
  color: white;
}

.bg-white-light-8 {
  background-color: white;
}

.text-white-light-9 {
  color: white;
}

.bg-white-light-9 {
  background-color: white;
}

.text-white-dark-1 {
  color: #e6e6e6;
}

.bg-white-dark-1 {
  background-color: #e6e6e6;
}

.text-white-dark-2 {
  color: #cccccc;
}

.bg-white-dark-2 {
  background-color: #cccccc;
}

.text-white-dark-3 {
  color: #b3b3b3;
}

.bg-white-dark-3 {
  background-color: #b3b3b3;
}

.text-white-dark-4 {
  color: #999999;
}

.bg-white-dark-4 {
  background-color: #999999;
}

.text-white-dark-5 {
  color: gray;
}

.bg-white-dark-5 {
  background-color: gray;
}

.text-white-dark-6 {
  color: #666666;
}

.bg-white-dark-6 {
  background-color: #666666;
}

.text-white-dark-7 {
  color: #4d4d4d;
}

.bg-white-dark-7 {
  background-color: #4d4d4d;
}

.text-white-dark-8 {
  color: #333333;
}

.bg-white-dark-8 {
  background-color: #333333;
}

.text-white-dark-9 {
  color: #1a1a1a;
}

.bg-white-dark-9 {
  background-color: #1a1a1a;
}

.text-black {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-black-light-1 {
  color: #1a1a1a;
}

.bg-black-light-1 {
  background-color: #1a1a1a;
}

.text-black-light-2 {
  color: #333333;
}

.bg-black-light-2 {
  background-color: #333333;
}

.text-black-light-3 {
  color: #4d4d4d;
}

.bg-black-light-3 {
  background-color: #4d4d4d;
}

.text-black-light-4 {
  color: #666666;
}

.bg-black-light-4 {
  background-color: #666666;
}

.text-black-light-5 {
  color: gray;
}

.bg-black-light-5 {
  background-color: gray;
}

.text-black-light-6 {
  color: #999999;
}

.bg-black-light-6 {
  background-color: #999999;
}

.text-black-light-7 {
  color: #b3b3b3;
}

.bg-black-light-7 {
  background-color: #b3b3b3;
}

.text-black-light-8 {
  color: #cccccc;
}

.bg-black-light-8 {
  background-color: #cccccc;
}

.text-black-light-9 {
  color: #e6e6e6;
}

.bg-black-light-9 {
  background-color: #e6e6e6;
}

.text-black-dark-1 {
  color: black;
}

.bg-black-dark-1 {
  background-color: black;
}

.text-black-dark-2 {
  color: black;
}

.bg-black-dark-2 {
  background-color: black;
}

.text-black-dark-3 {
  color: black;
}

.bg-black-dark-3 {
  background-color: black;
}

.text-black-dark-4 {
  color: black;
}

.bg-black-dark-4 {
  background-color: black;
}

.text-black-dark-5 {
  color: black;
}

.bg-black-dark-5 {
  background-color: black;
}

.text-black-dark-6 {
  color: black;
}

.bg-black-dark-6 {
  background-color: black;
}

.text-black-dark-7 {
  color: black;
}

.bg-black-dark-7 {
  background-color: black;
}

.text-black-dark-8 {
  color: black;
}

.bg-black-dark-8 {
  background-color: black;
}

.text-black-dark-9 {
  color: black;
}

.bg-black-dark-9 {
  background-color: black;
}

.site-container {
  padding: 0 10%;
  font-family: var(--jk-site-font);
}

@media (min-width: 100px) and (max-width: 600px) {
  .site-container {
    padding: 0 5%;
    width: auto;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .site-container {
    padding: 0 5%;
    width: auto;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .site-container {
    padding: 0 5%;
    width: auto;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .site-container {
    padding: 0 5%;
    width: auto;
  }
}