@import "root";
@import "buttons/button.scss";
@import "texts/text.scss";
@import "layout/columns/columns.scss";

.site-container{
    padding: 0 150px;
}

@media only screen and (max-width: 600px) {
    .site-container{
        padding: 0 20%;
        width: auto;        
    }
}

@media only screen and (max-width: 768px) {
    .site-container{
        padding: 0 20%;
        width: auto;        
    }
    .footer-grid{
        display: flex;
        flex-direction: column;
    }
    .footer-hr{
        display: block;
    }
    .navbar .logo{
        font-size: 10px;
    }
    .get-started-btn{
        padding: 20px 30px;
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    .site-container{
        padding: 0 20%;
        width: auto;        
    }
    .footer-grid{
        display: flex;
        flex-direction: column;
    }
    .footer-hr{
        display: block;
    }
    .navbar .logo{
        font-size: 40px;
    }
    .get-started-btn{
        padding: 10px 20px;
        width: 20%;
    }
}


@media only screen and (max-width: 1200px) {
    .site-container{
        padding: 0 20%;
        width: auto;        
    }
    .footer-grid{
        display: flex;
        flex-direction: column;
    }
    .footer-hr{
        display: block;
    }
    .get-started-btn{
        padding: 10px 20px;
        width: 40%;
    }
}
