@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.all-navbar {
  background-color: var(--jk-purple);
  height: var(--jk-navheight);
  padding: 50px 0 0 0;
  text-align: center;
  font-family: var(--jk-site-font);
  color: var(--jk-mfont-color);
}

.header, .example-nav .header, .get-nav .header, .other-nav .header, .text-nav .header, .column-nav .header, .button-nav .header {
  background-color: #A020F0;
  color: #fff;
  padding: 50px 0;
  text-align: center;
  font-family: var(--jk-site-font);
}

.nav-bar {
  background-color: #8223bd;
  padding: 25px 0;
  font-family: var(--jk-site-font);
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

.nav-bar a {
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
}

.header .logo {
  font-size: var(--title-font);
  font-family: var(--title-font-family);
}

.header .quote {
  padding-bottom: 40px;
}

:root {
  --jk-purple: #A020F0;
  --jk-navheight: 30vh;
  --jk-site-font: "Poppins", sans-serif;
  --jk-mfont-color: white;
  --title-font: 50px;
  --title-font-family: "Poppins", sans-serif;
  --normal-title: 30px;
  --border-bottom: 1px solid rgb(190, 190, 190);
  --othernav-height: 20vh;
  --shadow-color: black;
  --button-text: 20px;
  --transition-speed: 0.5s;
  --hover-color: #7f17c0;
  --file-font: red;
  --file-backcolor: rgb(218, 218, 218);
  --code-backcolor: rgb(218, 218, 218);
  --code-blue: rgb(0, 47, 255);
  --code-lightblue: rgb(15, 131, 240);
  --code-red: rgb(151, 26, 26);
  --normal-code: black;
  --comment-code: grey;
  --title-margin: 20px;
}

* {
  margin: 0;
  padding: 0;
}

.footerbar, .footerbar-docs {
  margin-top: 100px;
  font-family: var(--title-font-family);
  background-color: var(--jk-purple);
  padding: 50px 0;
  color: var(--jk-mfont-color);
}

.footer-grid {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 1rem;
  grid-template-areas: "a b c d";
  padding: 45px 0;
  margin-bottom: 5px;
}

.item1 {
  grid-area: a;
}

.item2 {
  grid-area: b;
}

.item3 {
  grid-area: c;
}

.item4 {
  grid-area: d;
}

.title {
  font-size: var(--normal-title);
  padding-bottom: 20px;
}

.footer-logo {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

.fooer-a {
  color: var(--jk-mfont-color);
  text-decoration: none;
}

.site-docs {
  padding: 30px 0;
  font-family: var(--jk-site-font);
}

.site-docs h2 {
  font-size: var(--title-font);
  margin: var(--title-margin);
}

.site-links ul {
  margin: 20px 30px;
}

.site-links ul li {
  padding: 10px 0;
}

.site-docs h3 {
  font-size: var(--title-font);
  margin: var(--title-margin);
}

.home-back {
  text-align: center;
  height: auto;
  background-image: linear-gradient(40deg, var(--jk-purple), white);
  padding: 20px 0;
  padding-bottom: 15px;
}

.home-back .quate {
  font-size: var(--normal-title);
  color: var(--jk-mfont-color);
  font-style: italic;
}

.start-any {
  padding: 15px 0;
}

.npm-code {
  background-color: white;
  padding: 15px 30px;
  display: inline-block;
  border-radius: 5px;
}

.read-btn {
  background-color: var(--jk-purple);
  margin-bottom: 20px;
  padding: 15px 30px;
  border: none;
  font-size: 20px;
  color: var(--jk-mfont-color);
  border-radius: 5px;
  transition: 0.5s;
}

.read-btn:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.home-down {
  margin-bottom: 20px;
}

.home-down ul {
  list-style-type: none;
  display: flex;
  text-align: center;
}

.site-container {
  padding: 0 15%;
  font-family: var(--title-font-family);
}

.main-content {
  margin-top: 50px;
  font-family: var(--title-font-family);
}

.main-content .title {
  font-size: var(--normal-title);
  padding-bottom: 10px;
  width: 20%;
  border-bottom: var(--border-bottom);
}

.main-content .body {
  padding-top: 15px;
  margin-bottom: 25px;
}

.main-logo {
  margin: 50px 0;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  align-items: center;
}

a {
  color: rgb(0, 110, 253);
}

.relese-content {
  margin: 50px 0;
}

.relese-content .title {
  font-family: var(--title-font-family);
}

.relese-content .body {
  font-family: var(--jk-site-font);
}

.relese-content .body .topic {
  font-weight: bold;
  padding: 10px;
  border-bottom: var(--border-bottom);
  width: 40%;
}

.relese-content .body .features {
  margin: 15px 40px;
}

.get-started-btn, .all-examples-btn {
  width: 20%;
  margin-top: 20px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: var(--jk-purple);
  color: var(--jk-mfont-color);
  font-family: var(--jk-site-font);
  font-size: var(--button-text);
  transition: var(--transition-speed);
}

.get-started-btn:hover, .all-examples-btn:hover {
  box-shadow: 10px 10px 5px #aaaaaa;
  cursor: pointer;
  background-color: var(--hover-color);
}

.get-title {
  margin: 50px 0;
  text-align: center;
  font-size: calc(var(--button-text) * 2);
  font-family: var(--jk-site-font);
}

.get-body {
  font-family: var(--title-font-family);
  font-size: var(--button-text);
  margin-bottom: 45px;
}

.get-list {
  margin: 50px 20px;
}

.file-view {
  background-color: var(--file-backcolor);
  color: var(--file-font);
  padding: 0 10px;
  border-radius: 5px;
}

.code-back {
  background-color: var(--code-backcolor);
  padding: 20px 50px;
  font-family: var(--title-font-family);
  border-radius: 5px;
}

.blue-text {
  color: var(--code-blue);
}

.lblue-text {
  color: var(--code-lightblue);
}

.red-text {
  color: var(--code-red);
}

.code-gap {
  padding-left: 50px;
}

.normal-code {
  color: var(--normal-code);
}

.comment-code {
  color: var(--comment-code);
}

.main-title {
  font-size: 30px;
  margin: 20px 0;
}

.normal-table {
  margin: 20px 0;
  font-size: 20px;
}

.normal-table th {
  height: 30px;
  width: 50%;
  border-bottom: 1px solid black;
}

.footer-grid {
  display: flex;
  flex-direction: row;
}

.footer-hr {
  display: none;
}

.nav-hr {
  margin: 10px 0;
  display: none;
}

.layout-list {
  padding: 20px 50px;
}

.jk-modal {
  width: 40%;
  border: 2px solid #7e7e7e;
  border-radius: 5px;
  padding: 20px;
  margin: 40px 30px;
}

@media only screen and (max-width: 600px) {
  .nav-bar {
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }
  .nav-bar a {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .site-container {
    padding: 0 20%;
    width: auto;
  }
  .footer-grid {
    display: flex;
    flex-direction: column;
  }
  .footer-hr {
    display: block;
  }
  .nav-hr {
    margin: 10px 0;
    display: block;
  }
  .navbar {
    height: 40%;
  }
  .navbar .logo {
    font-size: 10%;
  }
  .get-started-btn, .all-examples-btn {
    padding: 20px 0;
    width: 100px;
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .site-container {
    padding: 0 20%;
    width: auto;
  }
  .footer-grid {
    display: flex;
    flex-direction: column;
  }
  .footer-hr {
    display: block;
  }
  .navbar .logo {
    font-size: 10px;
  }
  .get-started-btn, .all-examples-btn {
    padding: 20px 30px;
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  .site-container {
    padding: 0 20%;
    width: auto;
  }
  .footer-grid {
    display: flex;
    flex-direction: column;
  }
  .footer-hr {
    display: block;
  }
  .navbar .logo {
    font-size: 40px;
  }
  .get-started-btn, .all-examples-btn {
    padding: 10px 20px;
    width: 20%;
  }
}
@media only screen and (max-width: 1200px) {
  .site-container {
    padding: 0 20%;
    width: auto;
  }
  .footer-grid {
    display: flex;
    flex-direction: column;
  }
  .footer-hr {
    display: block;
  }
  .get-started-btn, .all-examples-btn {
    padding: 10px 20px;
    width: 40%;
  }
}