.site-docs {
  padding: 30px 0;
  font-family: var(--jk-site-font);
}

.site-docs h2 {
  font-size: var(--title-font);
  margin: var(--title-margin);
}

.site-links ul {
  margin: 20px 30px;
}

.site-links ul li {
  padding: 10px 0;
}

.site-docs h3 {
  font-size: var(--title-font);
  margin: var(--title-margin);
}

.home-back {
  text-align: center;
  height: auto;
  background-image: linear-gradient(40deg, var(--jk-purple), white);
  padding: 20px 0;
  padding-bottom: 15px;
}

.home-back .quate {
  font-size: var(--normal-title);
  color: var(--jk-mfont-color);
  font-style: italic;
}

.start-any {
  padding: 15px 0;
}

.npm-code {
  background-color: white;
  padding: 15px 30px;
  display: inline-block;
  border-radius: 5px;
}

.read-btn, .read-docs {
  background-color: var(--jk-purple);
  margin-bottom: 20px;
  padding: 15px 30px;
  border: none;
  font-size: 20px;
  color: var(--jk-mfont-color);
  border-radius: 5px;
  transition: 0.5s;
}

.read-btn:hover, .read-docs:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.home-down {
  margin-bottom: 20px;
}

.home-down ul {
  list-style-type: none;
  display: flex;
  text-align: center;
}

.home-down li, .home-down li a {
  padding: 0 10px;
  text-decoration: none;
  color: var(--jk-mfont-color);
}

.any-way-stat {
  text-align: center;
}

.cover-border {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 20px 15px;
}

.waynpm {
  border: 1px solid var(--jk-purple);
  color: var(--jk-purple);
  border-radius: 5px;
  margin: 10px 0;
  text-align: center;
  padding: 10px 0;
}

.frame-guide {
  margin: 60px 0;
}

.frame-guide .title {
  text-align: center;
}

.fw-logo-img {
  width: 100px;
  height: auto;
}

.fw-title {
  padding: 20px 10px;
  font-size: 20px;
}