.navbar, .other-nav, .button-nav, .example-nav, .get-nav {
  background-color: var(--jk-purple);
  height: var(--jk-navheight);
  padding: 50px 0 0 0;
  text-align: center;
  font-family: var(--jk-site-font);
  color: var(--jk-mfont-color);
}

.navbar .logo, .other-nav .logo, .button-nav .logo, .example-nav .logo, .get-nav .logo {
  font-size: var(--title-font);
  font-family: var(--title-font-family);
}

.navbar .quote, .other-nav .quote, .button-nav .quote, .example-nav .quote, .get-nav .quote {
  padding-bottom: 40px;
}

.other-nav, .button-nav, .example-nav, .get-nav {
  height: var(--othernav-height);
}

@media only screen and (max-width: 992px) {
  .nav-bar .logo {
    font-size: var(--screen-font-992);
  }
}