.all-navbar, .other-nav, .text-nav, .column-nav, .button-nav, .example-nav, .get-nav {
  background-color: var(--jk-purple);
  height: var(--jk-navheight);
  padding: 50px 0 0 0;
  text-align: center;
  font-family: var(--jk-site-font);
  color: var(--jk-mfont-color);
}

.navbar .logo {
  font-size: var(--title-font);
  font-family: var(--title-font-family);
}

.navbar .quote {
  padding-bottom: 40px;
}

.other-nav, .text-nav, .column-nav, .button-nav, .example-nav, .get-nav {
  height: var(--othernav-height);
}

.header {
  background-color: #A020F0;
  color: #fff;
  padding: 50px 0;
  text-align: center;
  font-family: var(--jk-site-font);
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  background-color: #8223bd;
  padding: 10px;
  font-family: var(--jk-site-font);
}

.nav-bar a {
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
}