.side-bar{
    height: 100vh;
    width: 15%;
    padding: 40px 0;
    background-color: #7f17c0;
    color: var(--jk-mfont-color);
    font-family: var(--jk-site-font);
    padding-left: 20px;
}
.side-title{
    font-size: 3rem;
}