.jk-blue {
  background-color: var(--jk-blue);
}

.jk-blue:hover {
  background-color: var(--jk-blue-hover);
}

.jk-gray {
  background-color: var(--jk-gray);
}

.jk-gray:hover {
  background-color: var(--jk-grat-hover);
}