.no-border{
    border: none;
}
.jk-blue{
    background-color: var(--jk-blue);
    @extend .no-border;
}
.jk-blue:hover{
    background-color: var(--jk-blue-hover);
}
.jk-gray{
    background-color: var(--jk-gray);
}
.jk-gray:hover{
    background-color: var(--jk-gray-hover);
}
.jk-green{
    background-color: var(--jk-green);
}
.jk-green:hover{
    background-color: var(--jk-green-hover);
}
.jk-red{
    background-color: var(--jk-red);
}
.jk-red:hover{
    background-color: var(--jk-red-hover);
}
.jk-yellow{
    background-color: var(--jk-yellow);
}
.jk-yellow:hover{
    background-color: var(--jk-yellow-hover);
}
.jk-info{
    background-color: var(--jk-lightblue);
}
.jk-info:hover{
    background-color: var(--jk-lightblue-hover);
}
.jk-blue-outline{
    background: none;
    border: 1px solid blue;
}
.jk-blue-outline:hover{
    background: var(--jk-blue);
}