.no-border{
    border: none;
    color: var(--text-color);
}
.jk-blue{
    background-color: var(--jk-blue);
    @extend .no-border;
}
.jk-blue:hover{
    background-color: var(--jk-blue-hover);
    @extend .no-border;
}
.jk-gray{
    background-color: var(--jk-gray);
    @extend .no-border;
}
.jk-gray:hover{
    background-color: var(--jk-gray-hover);
    @extend .no-border;
}
.jk-green{
    background-color: var(--jk-green);
    @extend .no-border;
}
.jk-green:hover{
    background-color: var(--jk-green-hover);
    @extend .no-border;
}
.jk-red{
    background-color: var(--jk-red);
    @extend .no-border;
}
.jk-red:hover{
    background-color: var(--jk-red-hover);
    @extend .no-border;
}
.jk-yellow{
    background-color: var(--jk-yellow);
    @extend .no-border;
}
.jk-yellow:hover{
    background-color: var(--jk-yellow-hover);
    @extend .no-border;
}
.jk-info{
    background-color: var(--jk-lightblue);
    @extend .no-border;
}
.jk-info:hover{
    background-color: var(--jk-lightblue-hover);
    @extend .no-border;
}
.jk-blue-outline{
    background: none;
    border: 1px solid var(--jk-blue);
    color: var(--jk-blue);
}
.jk-blue-outline:hover{
    background: var(--jk-blue);
    color: var(--text-color);
}

.jk-gray-outline{
    background: none;
    border: 1px solid var(--jk-gray);
    color: var(--jk-gray);
}
.jk-gray-outline:hover{
    background: var(--jk-gray);
    color: var(--text-color);
}

.jk-green-outline{
    background: none;
    border: 1px solid var(--jk-green);
    color: var(--jk-green);
}
.jk-green-outline:hover{
    background: var(--jk-green);
    color: var(--text-color);
}

.jk-red-outline{
    background: none;
    border: 1px solid var(--jk-red);
    color: var(--jk-red);
}
.jk-red-outline:hover{
    background: var(--jk-red);
    color: var(--text-color);
}

.jk-yellow-outline{
    background: none;
    border: 1px solid var(--jk-yellow);
    color: var(--jk-yellow);
}
.jk-yellow-outline:hover{
    background: var(--jk-yellow);
    color: var(--text-color);
}

.jk-info-outline{
    background: none;
    border: 1px solid var(--jk-info);
    color: var(--jk-info);
}
.jk-info-outline:hover{
    background: var(--jk-info);
    color: var(--text-color);
}