.no-border, .jk-info:hover, .jk-info, .jk-yellow:hover, .jk-yellow, .jk-red:hover, .jk-red, .jk-green:hover, .jk-green, .jk-gray:hover, .jk-gray, .jk-blue:hover, .jk-blue {
  border: none;
  color: var(--text-color);
}

.jk-blue {
  background-color: var(--jk-blue);
}

.jk-blue:hover {
  background-color: var(--jk-blue-hover);
}

.jk-gray {
  background-color: var(--jk-gray);
}

.jk-gray:hover {
  background-color: var(--jk-gray-hover);
}

.jk-green {
  background-color: var(--jk-green);
}

.jk-green:hover {
  background-color: var(--jk-green-hover);
}

.jk-red {
  background-color: var(--jk-red);
}

.jk-red:hover {
  background-color: var(--jk-red-hover);
}

.jk-yellow {
  background-color: var(--jk-yellow);
}

.jk-yellow:hover {
  background-color: var(--jk-yellow-hover);
}

.jk-info {
  background-color: var(--jk-lightblue);
}

.jk-info:hover {
  background-color: var(--jk-lightblue-hover);
}

.jk-blue-outline {
  background: none;
  border: 1px solid var(--jk-blue);
  color: var(--jk-blue);
}

.jk-blue-outline:hover {
  background: var(--jk-blue);
  color: var(--text-color);
}

.jk-gray-outline {
  background: none;
  border: 1px solid var(--jk-gray);
  color: var(--jk-gray);
}

.jk-gray-outline:hover {
  background: var(--jk-gray);
  color: var(--text-color);
}