@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&display=swap");
:root {
  --jk-blue: #1672fd;
  --jk-blue-hover: #025ce4;
  --text-color: white;
  --jk-gray: grey;
  --jk-gray-hover: rgb(114, 114, 114);
  --jk-green: #1b8b57;
  --jk-green-hover: #147045;
  --jk-red: #ca2d3dee;
  --jk-red-hover: #b32432ee;
  --jk-yellow: #ff9900;
  --jk-yellow-hover: #ff9900e3;
  --jk-lightblue: #54b4d3;
  --jk-lightblue-hover: #54b3d3ea;
  --jk-purple: #A020F0;
  --title-font-family: "Kanit", sans-serif;
  --jk-site-font: "Roboto", sans-serif;
}

.jk-btn {
  padding: 15px 25px;
  transition: 0.4s;
  border-radius: 5px;
  color: var(--text-color);
}

.jk-btn:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.no-border, .jk-info:hover, .jk-info, .jk-yellow:hover, .jk-yellow, .jk-red:hover, .jk-red, .jk-green:hover, .jk-green, .jk-gray:hover, .jk-gray, .jk-blue:hover, .jk-blue {
  border: none;
}

.jk-blue {
  background-color: var(--jk-blue);
}

.jk-blue:hover {
  background-color: var(--jk-blue-hover);
}

.jk-gray {
  background-color: var(--jk-gray);
}

.jk-gray:hover {
  background-color: var(--jk-gray-hover);
}

.jk-green {
  background-color: var(--jk-green);
}

.jk-green:hover {
  background-color: var(--jk-green-hover);
}

.jk-red {
  background-color: var(--jk-red);
}

.jk-red:hover {
  background-color: var(--jk-red-hover);
}

.jk-yellow {
  background-color: var(--jk-yellow);
}

.jk-yellow:hover {
  background-color: var(--jk-yellow-hover);
}

.jk-info {
  background-color: var(--jk-lightblue);
}

.jk-info:hover {
  background-color: var(--jk-lightblue-hover);
}

.jk-blue-outline {
  background: none;
  border: 1px solid var(--jk-blue);
  color: blue;
}

.jk-blue-outline:hover {
  background: var(--jk-blue);
}

.site-container {
  padding: 0 150px;
}