@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Roboto&display=swap');
@import "root";

footer{
    background-color: var(--jk-purple);
    margin: 20px 0;
    padding: 40px 0;
    font-family: var(--jk-site-font);
}