<title>JKCSS - Columns</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="icon" type="image/png" href="https://avatars.githubusercontent.com/u/111488170?s=200&v=4">

<link rel="stylesheet" href="../../../site/assets/scss/app.css">
<link rel="stylesheet" href="../../jkcss.css">
<link rel="stylesheet" href="../../style.css">

<style>
    .column-view{
        background-color: rgb(206, 206, 206);
        color: red;
        padding: 0 30px;
        border-radius: 50px;
    }
</style>


<div class="site-container">
    <div class="content">

    </div>
</div>



<footer>
    <center>
        &copy; <a href="https://github.com/JKCSS/JKCSS-Framework" target="_blank" class="fooer-a">JKCSS</a> 2023 Develop by <a href="https://github.com/JehanKandy" target="_blank" class="fooer-a">JehanKandy.</a> All rights reserved
    </center>
</footer>


<script src="../../../../site/assets/js/app.js"></script>

